body {
    height: 100%;
    margin: 0;
    background-image: url("./Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    width: 1440px;
    height: 1024;
}